 .primary-color {
      color: #F65275 !important;
  }
  
  .secondary-color {
      color: #0033A0;
  }

  .dark-secondary-color {
    color: #041E42;
  }
  .header-title {
      color: #B6B5C1;
  }
  
  .primary-bg-color {
      color: #041E42;
  }

  .secondary-bg-color {
    background-color: #F65275 !important;
}
  
  .cursor-pointer {
    cursor: pointer;
  }

  .no-border-radius {
    border-radius: 0 !important;
  }
  .nunito-sans-extraBold {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
  }
  
  .nunito-sans-regular {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
  }
  
  . {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
  }
  .border-none {
    border: none !important;
  }

  .uppercase {
    text-transform: uppercase;
  }
  


  