/* You can add global styles to this file, and also import other style files */
header {
    background: #041e42;
    a {
        color: #ffffff;
        font-weight: 600;
        &:hover {
            color:#f65275;
        }
    }
}
.primery-color {
    color:#f65275;
}
.secondary-color {
    color: #041e42 !important;
}
.primery-bg {
    background: #f65275 !important;
}
.border-right {
    border-right: 1px solid #ccc;
}
.form-control {
    &:focus {
        box-shadow: none !important;
    }
}
.list-with-border {
    color: #F65275;
    font-weight: 600;
    border-bottom: 1.5px solid #ccc;
    i {
        color: #041e42;
        cursor: pointer;
    }
}
